# dependencies
node_modules/

# Next.js
.next/
out/

# env files
.env
.env-simulator
.env-aibackend
.env-aibackend-nemo
.env.local
.env.*.local

# build output
build/
dist/

# Prisma
prisma/generated/

# TypeScript
tsconfig.tsbuildinfo

# misc
.DS_Store
*.pem
npm-debug.log*
